@model IEnumerable<QuanLyShop.Models.QUANTRI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quyền Admin</h2>



<button>@Html.ActionLink("Quản Lý Nhân Viên", "Index", "NHANVIENs")</button>
<button>@Html.ActionLink("Quản Lý Khách Hàng", "Index", "KHACHHANGs")</button>
<button>@Html.ActionLink("Quản Lý Hóa Đơn", "Index", "HOADONs")</button>